@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}

$small: 640px;
$medium: 1060px;

.body-episodes {
  @include fastDisplay(center, center, column, wrap);

  h1 {
    color: rgb(179, 175, 175);
    margin-bottom: 10px;
  }

  .last-episodes {
    @include fastDisplay(center, center, row, wrap);
    min-height: 62vh;
    width: 85%;

    .episode-card {
      @include fastDisplay(flex-start, flex-end, column, nowrap);
      width: 250px;
      height: 200px;
      margin: 10px 10px;
      border-radius: 2%;
      cursor: pointer;
      transition: 0.5s;

      p {
        text-shadow: 0 0 0.2em black;
        margin-left: 10px;
        margin-bottom: 5px;
      }

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}

@media (max-width: $medium) {
  .body-episodes {
    .last-episodes {
      width: 100%;

      .episode-card {
      }
    }
  }
}

@media (max-width: 810px) {
  .body-episodes {
    .last-episodes {
      width: 100%;

      .episode-card {
        width: 300px;
      }
    }
  }
}

@media (max-width: $small) {
  .body-episodes {
    .last-episodes {
      width: 100%;

      .episode-card {
        width: 100%;
      }
    }
  }
}
