@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

.container {
  @include fastDisplay(space-evenly, row, nowrap);
  width: 100%;

  .card {
    width: 17%;
    height: 300px;
    overflow: hidden;
    transition: 0.7s;
    position: relative;

    &:hover {
      width: 26%;

      .subCard {
        margin-left: 0px;
        width: 100%;
      }

      .imageBox {
        img {
          transform: translateX(-10%);
        }
      }
    }

    .imageBox {
      @include fastDisplay(center, row, nowrap);
      width: 500px;

      img {
        width: 500px;
        height: 400px;
        object-fit: cover;
        aspect-ratio: initial;
        transform: translateX(-18%);
        transition: 0.7s;
      }
    }

    .subCard {
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      margin-left: 100%;
      top: 0px;
      width: 150%;
      height: 100%;
      transition: 0.5s;

      p {
        margin: 5px;
      }

      .genre {
        @include fastDisplay(flex-start, row, wrap);

        p {
          padding: 4px;
          margin-right: 5px;
          border: 1px solid white;
          border-radius: 25px;
          font-size: 10px;
        }
      }

      .highlights-synopsis {
        p {
          font-size: 13px;
        }
      }

      button {
        background-color: rgb(35, 35, 199);
        border-radius: 25px;
        border-style: none;
        margin: 10px 5px;
        color: white;
        padding: 8px 15px;
        cursor: pointer;
      }
    }
  }
}
