@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

$small: 530px;
$medium: 1060px;
$dark-blue: rgb(20, 20, 97);
$light-blue: rgb(33, 63, 235);

.container {
  @include fastDisplay(space-evenly, row, nowrap);
  width: 100%;

  .card {
    width: 17%;
    height: 300px;
    overflow: hidden;
    transition: 0.7s;
    position: relative;

    &:hover {
      width: 25%;

      .subCard {
        margin-left: 0px;
        width: 100%;
      }

      .imageBox {
        img {
          transform: translateX(-10%);
        }
      }
    }

    .imageBox {
      @include fastDisplay(center, row, nowrap);
      width: 500px;

      img {
        width: 500px;
        height: 400px;
        object-fit: cover;
        aspect-ratio: initial;
        transform: translateX(-18%);
        transition: 0.7s;
      }
    }

    .subCard {
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      margin-left: 100%;
      top: 0px;
      width: 150%;
      height: 100%;
      transition: 0.5s;

      .duration {
        margin-top: 20px;
      }

      p {
        margin: 5px;
        margin-left: 15px;
      }

      .genre {
        @include fastDisplay(flex-start, row, wrap);

        p {
          padding: 4px;
          border: 1px solid white;
          border-radius: 25px;
          font-size: 10px;
        }
      }

      .highlights-synopsis {
        p {
          font-size: 13px;
        }
      }

      button {
        background-color: $dark-blue;
        border-radius: 25px;
        border-style: none;
        margin: 10px 5px;
        color: white;
        padding: 8px 15px;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          transform: scale(1.05);
          background-color: $light-blue;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    .card:nth-child(6) {
      display: none;
    }
    .card {
      width: 20%;
      &:hover {
        width: 100%;
      }
    }
  }
}

@media (max-width: $small) {
  .container {
    .card:nth-child(6) {
      display: none;
    }
    .card:nth-child(5) {
      display: none;
    }
    .card {
      width: 25%;
      &:hover {
        width: 200%;
      }
    }
  }
}
