@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}

.body-episodes {
  @include fastDisplay(center, center, row, wrap);

  .nav-episodes {
    @include fastDisplay(center, space-between, row, nowrap);
    width: 95%;
    margin: 30px 0;

    .left {
      @include fastDisplay(center, flex-start, row, nowrap);

      .icon {
        border-radius: 100%;
        margin-right: 3px;
      }

      h2 {
        justify-content: flex-start;
        padding-left: 10px;
      }
    }

    .right {
      display: inline-flex;

      .button {
        width: 150px;
        padding: 11px 15px;
        display: inline-flex;
        height: 45px;
        color: white;
        font-size: 20px;
        background-color: blue;
        border-radius: 10%;
      }
    }
  }

  .last-episodes {
    @include fastDisplay(center, center, row, wrap);
    width: 95%;

    .episode-card {
      @include fastDisplay(flex-start, flex-end, column, nowrap);
      width: 23%;
      height: 250px;
      margin: 10px 15px;
      border-radius: 5%;

      p {
        text-shadow: 0 0 0.2em black;
        margin-left: 10px;
        margin-bottom: 5px;
      }
    }
  }
}
