@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}

.nav-episodes {
  @include fastDisplay(center, space-between, row, nowrap);
  width: 75%;
  margin-top: 20px;

  .left {
    @include fastDisplay(center, flex-start, row, nowrap);

    .icon {
      border-radius: 100%;
      margin-right: 3px;
    }

    p {
      justify-content: flex-start;
      padding-left: 10px;
    }
  }

  .right {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    .button {
      @include fastDisplay(center, center, row, nowrap);
      width: 110px;
      // padding: 7px 10px;
      // display: inline-flex;
      height: 35px;
      color: white;
      background-color: rgb(21, 21, 121);
      border-radius: 7%;
      cursor: pointer;
      transition: 0.5s;

      .plus {
        @include fastDisplay(center, center, row, nowrap);
        height: 25px;
        width: 25px;
        margin-right: 5px;

        p {
          line-height: 25px;
          font-size: 25px;
        }
      }

      &:hover {
        background-color: rgb(35, 35, 199);
      }
    }

    // p:nth-child(1) {
    //   font-size: 22px;
    // }
    // p:nth-child(2) {
    //   font-size: 15px;
    //   padding-top: 3px;
    //   padding-left: 6px;
    // }
  }
}
