@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}

$dark-blue: rgb(20, 20, 97);
$light-blue: rgb(33, 63, 235);

.nav-episodes {
  @include fastDisplay(center, space-between, row, nowrap);
  margin: 20px 13%;

  .left {
    @include fastDisplay(center, flex-start, row, nowrap);

    .icon {
      border-radius: 100%;
      margin-right: 3px;
    }

    p {
      padding-left: 10px;
    }
  }

  .right {
    text-decoration: none;

    .button {
      @include fastDisplay(center, center, row, nowrap);
      width: 110px;
      height: 35px;
      color: white;
      background-color: $dark-blue;
      border-radius: 7%;
      cursor: pointer;
      transition: 0.5s;

      .plus {
        @include fastDisplay(center, center, row, nowrap);
        height: 25px;
        width: 25px;
        margin-right: 5px;

        p {
          line-height: 25px;
          font-size: 25px;
        }
      }

      &:hover {
        background-color: $light-blue;
        transform: scale(1.1);
      }
    }
  }
}
