@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}
.body-animes {
  @include fastDisplay(center, center, column, wrap);

  h1 {
    color: rgb(179, 175, 175);
    margin-bottom: 10px;
  }
  .last-animes {
    @include fastDisplay(center, center, row, wrap);
    min-height: 62vh;
    width: 90%;

    .card-anime {
      @include fastDisplay(flex-start, space-between, column, nowrap);
      width: 170px;
      height: 300px;
      margin: 10px 10px;
      border-radius: 5%;
      cursor: pointer;
      transition: 0.5s;

      p {
        text-shadow: 1px 1px 1px black;
        margin: 10px 10px;
      }

      &:hover {
        transform: scale(1.04);
      }
    }
  }
}

@media (max-width: 430px) {
  .body-animes {
    .last-animes {
      width: 100%;
      .card-anime {
        width: 70%;
      }
    }
  }
}
