@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}
.body-animes {
  @include fastDisplay(center, center, row, wrap);

  .last-animes {
    @include fastDisplay(center, space-between, row, wrap);
    width: 75%;

    .card-anime {
      @include fastDisplay(flex-start, space-between, column, nowrap);
      // justify-content: space-around;
      width: 16%;
      height: 300px;
      margin: 10px 15px;
      border-radius: 5%;

      p {
        text-shadow: 1px 1px 1px black;
        margin-left: 10px;
        margin: 10px 0px;
      }
    }
  }
}
