@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}

.anime-container {
  @include fastDisplay(center, center, row, nowrap);
  min-height: 62vh;

  .content-container {
    background-color: #343434;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 25px;

    .content-top {
      @include fastDisplay(flex-start, flex-start, row, nowrap);

      .anime-image {
        width: 300px;
        height: 100%;
      }

      .anime-info {
        width: 70%;
        height: 100%;

        .anime-info-top {
          @include fastDisplay(center, space-around, row, nowrap);
          margin-bottom: 10px;
          h1 {
            margin: 10px 10px;
          }

          .anime-length {
            @include fastDisplay(flex-start, flex-start, row, nowrap);
            width: 100%;
            padding: 10px;
            background-color: #545457;
            border-radius: 10px;
            margin-bottom: 5px;

            .anime-length-content {
              width: 50%;
              height: 60px;
              margin-right: 10px;
              padding: 10px;
              border: 2px solid rgb(17, 4, 77);
              border-radius: 10px;
            }
          }
          .scores {
            @include fastDisplay(flex-start, flex-start, row, nowrap);
            width: 100%;
            padding: 10px;
            background-color: #545457;
            border-radius: 10px;
            margin-bottom: 5px;

            .score-content {
              width: 50%;
              padding: 10px;
              border: 2px solid rgb(17, 4, 77);
              border-radius: 10px;
              margin-right: 10px;
            }
          }
        }

        .anime-info-right {
          width: 40%;
          .trailer {
            width: 100%;
            height: 200px;
          }
        }
      }
    }

    .anime-list {
      @include fastDisplay(flex-start, flex-start, row, wrap);
      margin: 10px;

      .anime-card {
        @include fastDisplay(center, center, column, nowrap);
        width: 160px;
        padding: 10px;
        margin: 5px 10px;
        background-color: #494949;
        border-radius: 15%;
        cursor: pointer;
      }

      .list-image {
        border-radius: 25px;
        margin-bottom: 5px;
        width: 140px;
        height: 120px;
      }
    }
  }
}
