@mixin fastDisplay($a, $x, $y, $z) {
  display: flex;
  align-items: $a;
  justify-content: $x;
  flex-flow: $y $z;
}

$light-gray: rgb(179, 175, 175);
$medium-gray: rgb(75, 75, 77);
$dark-gray: rgb(39, 41, 41);
$dark-blue: rgb(20, 20, 97);
$light-blue: rgb(33, 63, 235);
$small: 530px;
$medium: 1060px;

.anime-container {
  @include fastDisplay(center, center, row, nowrap);
  min-height: 62vh;

  .content-container {
    background-color: #343434;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 25px;

    .content-top {
      @include fastDisplay(flex-start, flex-start, row, nowrap);

      img {
        width: 270px;
        height: 250px;
        border-radius: 25px;
      }

      .anime-info {
        width: 90%;

        .anime-info-top {
          @include fastDisplay(center, flex-start, row, nowrap);
          margin-bottom: 10px;

          .anime-info-left {
            width: 60%;

            h1 {
              margin: 10px 10px;
            }

            .anime-length {
              width: 100%;
              padding: 10px;
              // background-color: $medium-gray;
              border-radius: 10px;
              margin-bottom: 5px;

              p {
                margin: 10px 0px;
                color: white;
              }
            }
          }
        }

        .anime-info-right {
          .trailer {
            width: 100%;
            height: 250px;
          }
        }
      }
    }
    .synopsis {
      p {
        margin: 10px 0px;
      }
    }
    .video-bottom {
      display: none;
    }

    .anime-list {
      @include fastDisplay(flex-start, flex-start, row, wrap);
      margin: 10px;

      .anime-card {
        @include fastDisplay(center, center, column, nowrap);
        width: 160px;
        padding: 10px;
        margin: 5px 10px;
        background-color: $medium-gray;
        border-radius: 15%;
        cursor: pointer;

        &:hover {
          transform: scale(1.09);
          background-color: $dark-gray;
        }
      }

      .list-image {
        border-radius: 25px;
        margin-bottom: 5px;
        width: 140px;
        height: 120px;
      }
    }
  }
}

@media (max-width: $medium) {
  .anime-container {
    .content-container {
      .content-top {
        .anime-info {
          .anime-info-top {
            .anime-info-left {
              width: 100% !important;

              h1 {
                font-size: 27px;
              }
            }
            .anime-info-right {
              display: none;
            }
          }
        }
      }
      .video-bottom {
        @include fastDisplay(flex-start, flex-start, column, nowrap);
        p {
          margin: 10px 0px;
        }
        height: 290px;
        .trailer {
          width: 450px;
          height: 100%;
        }
      }
    }
  }
}
@media (max-width: $small) {
  .anime-container {
    .content-container {
      .content-top {
        @include fastDisplay(flex-start, flex-start, column, wrap);
      }
      .video {
        .trailer {
          width: 100%;
        }
      }
      .anime-list {
        @include fastDisplay(flex-start, flex-start, column, wrap);
        .anime-card {
          @include fastDisplay(center, flex-start, row, nowrap);

          width: 100%;
          border-radius: 25px;
          .list-image {
            width: 100%;
            max-width: 150px;
            height: 130px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
