header {
  display: flex;
  flex-direction: row;
  padding: 37px 88px;
  align-items: center;

  .center {
    display: flex;
    flex-direction: row;
    padding: 0px 28px;
    width: 70%;

    p {
      font-size: 15px;
      padding: 0px 10px;
    }
  }
  .right {
    .icon {
      background-color: rgb(39, 41, 41);
      border-radius: 100%;
      padding: 7px;
      margin: 5px;
    }
  }
}
