@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

header {
  display: flex;
  flex-direction: row;
  padding: 37px 88px;
  align-items: center;

  img {
    cursor: pointer;
  }

  .center {
    @include fastDisplay(flex-start, row, wrap);
    padding: 0px 28px;
    width: 70%;
    .link {
      color: rgb(179, 175, 175);
      font-size: 17px;
      padding: 0px 10px;
      text-decoration: none;
    }
  }
  .right {
    @include fastDisplay(flex-start, row, nowrap);

    .icon {
      background-color: rgb(39, 41, 41);
      border-radius: 100%;
      padding: 7px;
      margin: 5px;
      cursor: pointer;
    }
  }
}
