@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

$light-gray: rgb(179, 175, 175);
$medium-gray: rgb(75, 75, 77);
$dark-gray: rgb(39, 41, 41);
$dark-blue: rgb(20, 20, 97);
$light-blue: rgb(33, 63, 235);

header {
  display: flex;
  flex-direction: row;
  padding: 37px 88px;
  align-items: center;

  img {
    cursor: pointer;
  }

  .center {
    @include fastDisplay(flex-start, row, wrap);
    padding: 0px 28px;
    width: 70%;

    .link {
      color: $light-gray;
      font-size: 17px;
      padding: 0px 10px;
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        // padding: 5px 15px;
        // margin: 0px 3px;
        // background-color: $light-gray;
        border-radius: 25px;
        color: $light-blue;
      }
    }
  }
  .right {
    @include fastDisplay(flex-start, row, nowrap);

    .icon {
      background-color: $dark-gray;
      border-radius: 100%;
      padding: 7px;
      margin: 5px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: $medium-gray;
        transform: scale(1.15);
      }
    }
  }
}
