@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

$light-blue: rgb(33, 63, 235);

footer {
  @include fastDisplay(flex-start, column, wrap);
  height: 200px;
  background-image: url(https://images.alphacoders.com/996/996655.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  text-shadow: 2px 2px 2px black;
  padding-top: 30px;

  h1 {
    padding-bottom: 10px;
  }

  .links {
    @include fastDisplay(center, row, wrap);

    .link {
      padding-right: 10px;
      padding-top: 10px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        color: $light-blue;
      }
    }
  }
}
